.idea/vcs.xml
app/build/intermediates/blame/res/debug/multi/color.json
app/build/intermediates/builds/debug/18934154892175/classes.dex
app/build/intermediates/builds/debug/19607167770896/classes.dex
app/build/intermediates/exploded-aar/AnimeChallenge/BaseGameUtils/unspecified/aapt/AndroidManifest.xml
app/build/intermediates/multi-dex/debug/manifest_keep.txt
app/build/intermediates/transforms/instantRun/debug/folders/4000/5/enhanced/com/android/tools/fd/runtime/AppPatchesLoaderImpl.class
app/build/intermediates/transforms/instantRun/debug/folders/4000/5/enhanced/com/yakarex/animequiz/activities/MainFragActivity$1$override.class
app/build/intermediates/transforms/instantRun/debug/folders/4000/5/enhanced/com/yakarex/animequiz/activities/MainFragActivity$2$override.class
app/build/intermediates/transforms/instantRun/debug/folders/4000/5/enhanced/com/yakarex/animequiz/activities/MainFragActivity$3$override.class
app/build/intermediates/transforms/instantRun/debug/folders/4000/5/enhanced/com/yakarex/animequiz/activities/MainFragActivity$4$override.class
app/build/intermediates/transforms/instantRun/debug/folders/4000/5/enhanced/com/yakarex/animequiz/activities/MainFragActivity$override.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_0/buildId.txt
