app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.android.gms-play-services-panorama-10.0.1_383100e1e0dac6576d1f11421bddb69f1f61597f/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.android.gms-play-services-places-10.0.1_fd9c3184acf7c57eb2b17f809396edcf0c991bba/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.android.gms-play-services-plus-10.0.1_de79a1051176c6afe08f1bc7d5adc4d8da55e917/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.android.gms-play-services-safetynet-10.0.1_2613301e2f1245dedbadce08778360414817a7f9/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.android.gms-play-services-tagmanager-10.0.1_50d02b30bf490b70c4bf77d51b7a660024a4c6ed/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.android.gms-play-services-tagmanager-api-10.0.1_821bdde727dc760156e43ed81f106dcfec424e52/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.android.gms-play-services-tagmanager-v4-impl-10.0.1_c4f63d40432930bdc36c72d5ff5794473e8acc0d/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.android.gms-play-services-tasks-10.0.1_447211cd9efc47cb688ecf4ecefef2e9ec358c99/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.android.gms-play-services-vision-10.0.1_f822ae0236db55883b7e463f7601608d168c1ea3/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.android.gms-play-services-wallet-10.0.1_a2685d9537957102aff1dc096b35c50df41fa691/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.android.gms-play-services-wearable-10.0.1_a66380844bd3337bf577bddd90623d5edc8bfc8f/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.firebase-firebase-analytics-10.0.1_cf9961ec620a1f212bcc5c55d8f40933c8b332ca/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.firebase-firebase-analytics-impl-10.0.1_4e5238f59f8744e42814d21fd346c0c2962c69c4/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.firebase-firebase-appindexing-10.0.1_8bf39d1ef12c2d711e3714a36185d9020445c3d4/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.firebase-firebase-auth-10.0.1_442ec5cb96f85a6e8d66ea12322d14c906ffd711/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.firebase-firebase-common-10.0.1_bb7c36e6e7bcf528c3ac4bc4ea0c2ed4f55a0eba/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.firebase-firebase-config-10.0.1_c386a3008a0eabd56c29e7118be571b1e5b7f0e4/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.firebase-firebase-crash-10.0.1_6edeba1e986e0799b8be146d23b6c77695539dc6/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.firebase-firebase-database-10.0.1_be972fd15ff827a6379989bfca8f622d6ce187ac/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.firebase-firebase-database-connection-10.0.1_fd08440bede91d472f173f4459b221be1f9043c1/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.firebase-firebase-iid-10.0.1_0a875602790c8b7d9f957c2c1fbcd83c38be51c1/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.firebase-firebase-messaging-10.0.1_e64397ba468a8312ecd8b813d24f00981922219b/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.firebase-firebase-storage-10.0.1_004fb72ac810cc30c73164252bad5b18df9253ff/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/com.google.firebase-firebase-storage-common-10.0.1_6a63da831033225e77849893be33587ba8d0b637/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/constraint-layout-solver-1.0.0-beta4_ba68aea134d2eed14b6eaccac6b82f607ec4d342/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/internal_impl-25.0.1_009e54b53f486faffb1b790f2cc68b8da8e54313/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/internal_impl-25.0.1_90fbb8210e4739e632cc1297072e9d43c76c3a7a/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/internal_impl-25.0.1_91af89c531b66391e135e9394a1124952f00f00d/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/internal_impl-25.0.1_9d25c4fc209d018c4df08888c7ee666c5b70e8d7/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/internal_impl-25.0.1_c316d8cb0858a95ea875ad15d3d3d3541a177469/classes.dex
app/build/intermediates/transforms/dex/debug/folders/1000/10/support-annotations-25.0.1_748677d3eb98280e29c0dc82ebc0adbc1245ad0f/classes.dex
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/android/support/constraint/R$attr.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/android/support/constraint/R$id.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/android/support/constraint/R$styleable.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/android/support/constraint/R.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/android/support/v7/cardview/R$attr.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/android/support/v7/cardview/R$color.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/android/support/v7/cardview/R$dimen.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/android/support/v7/cardview/R$style.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/android/support/v7/cardview/R$styleable.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/android/support/v7/cardview/R.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/yakarex/animequiz/adapters/CharacterPagesAdapter.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/yakarex/animequiz/adapters/LevelsAdapter$1.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/yakarex/animequiz/adapters/LevelsAdapter$LevelInteractor.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/yakarex/animequiz/adapters/LevelsAdapter$ViewHolder.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/yakarex/animequiz/adapters/LevelsAdapter.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/yakarex/animequiz/adapters/LevelsStatsAdapter$ViewHolder.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/yakarex/animequiz/adapters/LevelsStatsAdapter.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/yakarex/animequiz/fragments/FragCharacterSwiper$1.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/yakarex/animequiz/fragments/FragCharacterSwiper.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/yakarex/animequiz/fragments/FragLevelStats.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/yakarex/animequiz/models/AChaCharacterModel$1.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/yakarex/animequiz/models/AChaCharacterModel.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/yakarex/animequiz/models/LevelStatModel.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/yakarex/animequiz/utils/ZoomOutPageTransformer.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_0/android/support/v7/cardview/R$attr.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_0/android/support/v7/cardview/R$color.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_0/android/support/v7/cardview/R$dimen.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_0/android/support/v7/cardview/R$style.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_0/android/support/v7/cardview/R$styleable.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_0/android/support/v7/cardview/R.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_0/com/yakarex/animequiz/utils/ZoomOutPageTransformer.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_5/buildId.txt
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_5/com/yakarex/animequiz/adapters/CharacterPagesAdapter.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_5/com/yakarex/animequiz/adapters/LevelsAdapter$1.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_5/com/yakarex/animequiz/adapters/LevelsAdapter$LevelInteractor.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_5/com/yakarex/animequiz/adapters/LevelsAdapter$ViewHolder.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_5/com/yakarex/animequiz/adapters/LevelsAdapter.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_5/com/yakarex/animequiz/adapters/LevelsStatsAdapter$ViewHolder.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_5/com/yakarex/animequiz/adapters/LevelsStatsAdapter.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_7/com/yakarex/animequiz/models/AChaCharacterModel$1.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_7/com/yakarex/animequiz/models/AChaCharacterModel.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_7/com/yakarex/animequiz/models/LevelStatModel.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/buildId.txt
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/yakarex/animequiz/fragments/FragCharacterSwiper$1.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/yakarex/animequiz/fragments/FragCharacterSwiper.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/yakarex/animequiz/fragments/FragLevelStats.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_9/android/support/constraint/R$attr.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_9/android/support/constraint/R$id.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_9/android/support/constraint/R$styleable.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_9/android/support/constraint/R.class
build/generated/mockable-android-23.jar
build/generated/mockable-android-25.jar
build/intermediates/dex-cache/cache.xml
app/build/
.gradle/2.14.1/tasks/
.gradle/2.14.1/taskArtifacts/cache.properties.lock
.gradle/2.14.1/taskArtifacts/fileHashes.bin
.gradle/2.14.1/taskArtifacts/fileSnapshots.bin
.gradle/2.14.1/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin
.gradle/2.14.1/taskArtifacts/taskArtifacts.bin
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
BaseGameUtils/BaseGameUtils.iml
